<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <p><%-text-%></p>
        <button class="getData">get 请求</button>
        <button class="postData">post 请求</button>
        <button class="jsonpData">jsonp 请求</button>
        <pre id="response"></pre>
    </body>
    <script src="/javascript/axios.js"></script>
    <script src="/javascript/index.js"></script>
</html>