#response {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  min-height: 300px;
  margin-top: 30px;
}
button{
  padding: 10px 20px;
  border: 0;
  font-size: 14px;
  background: #f80;
  color: #fff;
  outline: none;
  margin-right: 20px;
  cursor: pointer;
}
button:hover{
  opacity: 0.5;
}
